@font-face {
    font-family: MyFont;
    src: url(../static/Titillium_Web/TitilliumWeb-Regular.ttf);
 }

* {
   padding: 5px;
   margin: 5px;
   font-family: MyFont;
}

 :root {
    --lightBLU: rgb(205, 234, 244);
    --gray : rgb(123, 124, 139);
    --lightGray: rgb(212, 213, 226);
    --darkGray : rgb(43, 43, 44);
 }

 .classA {
    width: 45%;
    display: inline-block;
 }

 #webname {
    background-color: var(--lightBLU);
  }
  
  header {
    background-color: var(--darkGray);
  }
  
  nav a {
    text-decoration: none;
    margin: -5px;
    margin-right: 15px;
    font-size: x-large;
    color: var(--lightGray); /* Adjusted to ensure contrast */
  }

  form * {
    display: block;
    width: 50%;
    margin: auto;
    padding-top: 10px;
    text-align: center;
  }
  
  th {
    padding: 12px;
    background-color: var(--darkGray);
    color: white;
    width: fit-content;
  }
  
 
table tr:nth-child(even) {
    background-color: var(--lightGray);
 }
 
 table {
    border-collapse: collapse;
  }
  
  table, th, td {
    border: 1px solid var(--gray);
  }

  input[type="submit"] {
    background-color: var(--lightBLU); 
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }


  table tr:hover {
    background-color: var(--lightBLU);
 }

 #FavList {
  display: none;
}

#SeeMoreBTN{
  background-color: var(--lightBLU);
  border: 0px;
  border-radius: 16px;
  font-size:large;
}

#longIntro, #readLess {
  display: none;
}

#readLess, #readMore {
  font-style: italic;
  background-color:var(--lightBLU_A);
}

#ValidateMsg {
  width: max-content;
  margin: auto;
}

#map {
  height: 40vh;  /* 40% of the viewport height */
}

.funIMG {
  width: 20%;
  border-radius: 20%;
}


.mainFun {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}


#item1, #item2, #item3, #item4 {
  width: 40vw; /* 40% of the viewport width */
  margin: auto;
}

nav a:hover {
  background-color: var(--gray);
}

nav a.active {
  background-color: var(--gray);
  float: left;
  display: block;
}

nav {
  overflow: hidden;
}


nav a.icon {
  display: none;
}

@media screen and (max-width: 650px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon 
  {
    float: right;
    display: block;
}}

@media screen and (max-width: 650px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
     position: absolute;
     right: 0;
     top: 0;  
}

  .topnav.responsive a {
     float: none;  
     display: block;
     text-align: left;  
}}